<%- include('../layout/header.ejs') %>

<div class="admin-addpages">


<h2>Add a Page</h2>
<div class="back-to-pages">
<a href="/admin/pages"><i class="fas fa-arrow-left"></i> Back to all pages</a>
</div>
<br />
<br />
<form method="POST" action="/admin/pages/add-pages">
    <div>
        <label for="">Title</label>
        <input type="text" name="title" value="<%= title %>" placeholder="title" />
    </div>
    <div>
        <label for="">slug</label>
        <input type="text" name="slug" value="<%= slug %>" placeholder="slug" />
    </div>
    <div>
        <label for="">Content</label>
        <textarea name="content" id="editor" cols="30" rows="10" placeholder="content"><%= content %></textarea>
    </div>
    <button>Submit</button>
</form>





<script>
//   tabhead1 = document.getElementById("unsub");
//   tabhead2 = document.getElementById("formsubs");
//   tabhead2.style.display = "none";
// function openTab(tabName) {
//   unsubpage = document.getElementsByClassName("unsubpage");
//   subpage = document.getElementsByClassName("subpage");
//   if(tabName === "unsubpage" ){
//     tabhead1.style.display = "block";
//     tabhead2.style.display = "none";
//   }else{
//     tabhead2.style.display = "block";
//     tabhead1.style.display = "none";
//   }
//   for(let i = 1; i < tabhead2.value;i++){

//   }
// }
</script>

<%- include('../layout/footer.ejs') %>
