<%- include('../layout/admin_header.ejs') %>

<h2>Add a Carousel</h2>
<div class="back-to-pages">
<a href="/admin/carousel"><i class="fas fa-arrow-left"></i> Back to all Carousel</a>
</div>
<br />
<form method="POST" action="/admin/carousel/add-carousel" enctype="multipart/form-data">
    <div>
        <label for="">Title</label>
        <input type="text" name="title" value="<%= title %>" placeholder="title" />
    </div>
    <div>
        <label for="">desc</label>
        <textarea name="desc" id="editor" value="<%= desc %>" placeholder="desc"></textarea>
    </div>
    <div>
        <label for="">slug</label>
        <input type="text" name="slug" value="<%= slug %>" placeholder="slug" />
    </div>
    <div>
        <label for="">Image</label>
        <input id="input" type="file" name="image" placeholder="image" onchange="showMyImage(this)"/>

        <img id="output" src="#" alt="">
    </div>
    

    <button>Submit</button>
</form>

<%- include('../layout/footer.ejs') %>