<%- include('../layout/admin_header.ejs') %>

<h2>Add an Explore Pages</h2>
<a href="/admin/explore">Back to all Explore Pages</a>
<br />
<form method="POST" action="/admin/explore/add-explore" enctype="multipart/form-data">
    <div>
        <label for="">Title</label>
        <input type="text" name="title" value="<%= title %>" placeholder="title" />
    </div>
    <div>
        <label for="">slug</label>
        <input type="text" name="slug" value="<%= slug %>" placeholder="slug" />
    </div>
    <div>
        <label for="">Image</label>
        <input id="input" type="file" name="image" placeholder="image" onchange="showMyImage(this)"/>

        <img id="output" src="#" alt="">
    </div>
    <div>
        <label for="">Content</label>
        <textarea name="content" id="" cols="30" rows="10" placeholder="content"><%= content %></textarea>
    </div>
    

    <button>Submit</button>
</form>

<%- include('../layout/footer.ejs') %>

<script>

  function showMyImage(fileInput) {
        var files = fileInput.files;
        for (var i = 0; i < files.length; i++) {           
            var file = files[i];
            var imageType = /image.*/;     
            if (!file.type.match(imageType)) {
                continue;
            }           
            var img=document.getElementById("output");            
            img.file = file;    
            var reader = new FileReader();
            reader.onload = (function(aImg) { 
                return function(e) { 
                    aImg.src = e.target.result;
                    aImg.setAttribute('style',"width:50%;heigth=20%") 
                }; 
            })(img);
            reader.readAsDataURL(file);
        }    
    }

</script>