<%- include('../layout/admin_header.ejs') %>

<h2>Add an Explore Pages</h2>
<div class="back-to-pages">
<a href="/admin/explore"><i class="fas fa-arrow-left"></i> Back to all Explore Pages</a>
</div>
<br />
<form method="POST" action="/admin/explore/add-explore" enctype="multipart/form-data">
    <div>
        <label for="">Title</label>
        <input type="text" name="title" value="<%= title %>" placeholder="title" />
    </div>
    <div>
        <label for="">slug</label>
        <input type="text" name="slug" value="<%= slug %>" placeholder="slug" />
    </div>
    <div>
        <label for="">Image</label>
        <input id="input" type="file" name="image" placeholder="image" onchange="showMyImage(this)"/>

        <img id="output" src="#" alt="">
    </div>
    <div>
        <label for="">Content</label>
        <textarea name="content" id="editor" cols="30" rows="10" placeholder="content"><%= content %></textarea>
    </div>
    

    <button>Submit</button>
</form>

<%- include('../layout/footer.ejs') %>