<%- include('../layout/admin_header.ejs') %>

<h2>Edit Carousel</h2>
<div class="back-to-pages">
<a href="/admin/carousel"><i class="fas fa-arrow-left"></i> Back to all carousel</a>
</div>

<br>
<form method="POST" action="/admin/carousel/edit-carousel/<%= slug %>" enctype="multipart/form-data">
    <div>
        <label for="">TITLE</label> <br>
        <input type="text" name="title" value="<%= title %>" placeholder="title" />
    </div>
    <div>
        <label for="">SLUG</label> <br>
        <input type="text" name="slug" value="<%= slug %>" placeholder="slug" />
    </div>
    <div>
        <label for="">DESC</label> <br>
        <textarea name="desc" id="editor" cols="30" rows="10" placeholder="desc"><%= desc %></textarea>
    </div>
    <div>
        <label for="">IMAGE</label> <br>
        <input id="input" type="file" name="image" placeholder="image" onchange="showMyImage(this)"/>

        <img id="output" src="/images/carouselImages/<%= id %>/<%= image %>" alt="">
    </div>

    <input type="hidden" name="cimage" id="" value="<%= image %>" />
    <input type="hidden" name="id" id="" value="<%= id %>" />
    <button>Submit</button>
</form>

<%- include('../layout/footer.ejs') %>