<%- include('../layout/admin_header.ejs') %>

<h2>Edit Note About School Page</h2>
<a href="/admin/about_school">Back to all Note About School Pages</a>

<br>
<form method="POST" action="/admin/about_school/edit-noteAbtSch/<%= slug %>" enctype="multipart/form-data">
    <div>
        <label for="">Title</label>
        <input type="text" name="title" value="<%= title %>" placeholder="title" />
    </div>
    <div>
        <label for="">slug</label>
        <input type="text" name="slug" value="<%= slug %>" placeholder="slug" />
    </div>
    <div>
        <label for="">content</label>
        <textarea name="content" id="" cols="30" rows="10" placeholder="content"><%= content %></textarea>
    </div>
    <div>
        <label for="">image</label>
        <input id="input" type="file" name="image" placeholder="image" onchange="showMyImage(this)"/>

        <img id="output" src="/images/aboutSchoolImages/<%= id %>/<%= image %>" alt="">
    </div>

    <input type="hidden" name="Aimage" id="" value="<%= image %>" />
    <input type="hidden" name="id" id="" value="<%= id %>" />
    <button>Submit</button>
</form>

<%- include('../layout/footer.ejs') %>

<script>

  function showMyImage(fileInput) {
        var files = fileInput.files;
        for (var i = 0; i < files.length; i++) {           
            var file = files[i];
            var imageType = /image.*/;     
            if (!file.type.match(imageType)) {
                continue;
            }           
            var img=document.getElementById("output");            
            img.file = file;    
            var reader = new FileReader();
            reader.onload = (function(aImg) { 
                return function(e) { 
                    aImg.src = e.target.result;
                    aImg.setAttribute('style',"width:50%;heigth=20%") 
                }; 
            })(img);
            reader.readAsDataURL(file);
        }    
    }

</script>