<%- include('../layout/admin_header.ejs') %>
<div class="admin-editpages">
    
<h2>Edit Page</h2>
<div class="back-to-pages">
<a href="/admin/pages"><i class="fas fa-arrow-left"></i> Back to all pages</a>
</div>


<br>
<br>
<form method="POST" action="/admin/pages/edit-page/<%= slug %>">
    <div class="title">
        <label for="">TITLE</label> <br>
        <input  type="text" name="title" value="<%= title %>" placeholder="title" />
    </div>
    <br>
    <div class="slug">
        <label for="">SLUG</label> <br> 
        <input  type="text" name="slug" value="<%= slug %>" placeholder="slug" />
    </div>
    <br>
    <div class="content">
        <label for="">CONTENT</label> <br> 
        <textarea name="content" id="" cols="30" rows="10" placeholder="content"><%= content %></textarea>
    </div>
    <input  type="hidden" name="id" id="" value="<%= id %>" />
    <button>Submit</button>
</form>

</div>

<%- include('../layout/footer.ejs') %>