<%- include('../layout/admin_header.ejs') %>


<h2>News </h2>
<br>
<div class="back-to-pages">
<a href="/admin"><i class="fas fa-arrow-left"></i> Back to Admin</a>
</div>
<br>
<div class="add-to-pages">
<a href="/admin/news/add-news"><i class="fas fa-plus"></i> Add a new news</a>
</div>
<br>
<br>

<table class="gridtable">
    <thead>
        <tr class="home">
            <th>Title</th>
            <th>Image</th>
            <th>Created At</th>
            <th><i class="far fa-edit" fa-4x ></i> Edit</th>
            <th><i class="fa fa-trash" aria-hidden="true" style="font-size: 20px;"></i> Delete</th>
        </tr>
    </thead>
    
    <tbody
    ondrop="drop(event,this)" ondragover="allowDrop(event)">
        <% news.forEach(function(img){ %>
                <tr id="<%= img._id %>" class="<%= img.slug %>" draggable="true" ondragstart="drag(event)" ondrop="return false"
                    ondragover="return false">
                    <td><%= img.title %></td>
                    <td>
                    <img src="/images/newsImages/<%= img._id %>/<%= img.image %>" style="width:20%;heigth:20%">
                    </td>
                    <td><%= img.created %></td>
                    <td><i class="far fa-edit" style="color:#08851d;"></i><a href="/admin/news/edit-news/<%= img.slug %>"> Edit</a></td>
                    <td><i class="fa fa-trash" aria-hidden="true" style="color:#cf1111;"></i><a href="/admin/news/delete-news/<%= img._id %>"> Delete</a></td>
                </tr>
        <% }); %>
            </tbody>
</table>

<script>
    function allowDrop(ev) {
        ev.preventDefault();
        ev.stopPropagation()
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }
    function drop(ev, el) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        el.appendChild(document.getElementById(data));
        var trs = document.querySelectorAll('tbody tr')
        var trId = []
        for (let tr of trs) {
            trId.push(tr.id)
        }
        // console.log(trId)
        var http = new XMLHttpRequest();
        http.open("POST", "/admin/reorder-news", true);
        http.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        http.send(JSON.stringify({ trId }));
    }
    function noAllowDrop(ev) {
        ev.stopPropagation();
    }
    // var allTr = document.querySelectorAll('tr')
</script>

<%- include('../layout/footer.ejs') %>
