<%- include('../layout/header.ejs') %>
        <div class="container-bar">
                <div class="left-bar">
                        <div class="content-title">
                        <h2><%= title %></h2>
                        </div>
                        <div class="content-image">
                        <img src="/images/aboutSchoolImages/<%= id %>/<%= image %>" alt="Lights" style="width:80%;height:30%">
                        </div>
                        <div class="content">
                        <div><%- content %></div>
                        </div>

                </div>

                <%- include('./attached.ejs') %>
                


<%- include('../layout/footer.ejs') %>