<%- include('../layout/header.ejs') %>
        <div class="container-bar">
                <div class="left-bar">
                        <h2 style="text-align:center; margin:20px auto 10px auto;"><%= schTitle %> Events</h2>
                        <div style="text-align:center;margin:20px auto 10px auto;" class="content-title">
                        <h2><%= eventseason %></h2>
                        </div>
                        <div class="event-lists" >
                        <% event.forEach(function(img){ %>
                        <div class="event-list">

                        <div><%- img.title %></div> &nbsp ~~ &nbsp
                        <div> <%- img.desc %></div> &nbsp
                        from &nbsp <i> <div><%= img.datefrom %></div></i> &nbsp
                        to &nbsp <i><div><%= img.dateto %></div></i>

                        </div>
                        <% }); %>
                        
                        </div>

                </div>

        <%- include('./attached.ejs') %>



<%- include('../layout/footer.ejs') %>