<%- include('../layout/header.ejs') %>

        <h2><%= title %></h2>
        <img src="/images/exploreImages/<%= id %>/<%= image %>" alt="Lights" style="width:80%;height:30%">
        <p><%= content %></p>

<%- include('../layout/footer.ejs') %>