<div class="media-container">
    <h2>Read the <%= schTitle %> News</h2>
    <p>These are the news we have for you</p><br>
    <div class="media">
        
        <div class="media-left">
            <% news.forEach(function(img,index){ %>

            <% if(index === 0 ){ %>
                <div class="media-first">
                    <img src="/images/newsImages/<%= news[0]._id %>/<%= news[0].image %>" class="media-object" style="width:45px">
                <div class="media-body">
                    <a href="/news/<%= news[0].slug %>">                    
                    <h2 class="media-heading"><%= news[0].title %> <small><i><%= news[0].created %></i></small></h2>
                    </a>
                </div>
                </div>
            <% }%>

            <div class="media-rest">
                <% if(index > 0 && index < 4 ){ %>
                    <div class="media-rest-left">
                        <img src="/images/newsImages/<%= img._id %>/<%= img.image %>" class="media-object" style="width:45px">
                    <div class="media-body">
                        <a href="/news/<%= img.slug %>">                    
                            <h2 class="media-heading"><%= img.title %> <small><i><%= img.created %></i></small></h2>
                        </a>
                    </div>
                    </div>
                <% } %>
                <% if(index >= 5 && index < 9 ){ %>
                    <div class="media-rest-right">
                        <img src="/images/newsImages/<%= img._id %>/<%= img.image %>" class="media-object" style="width:45px">
                    <div class="media-body">
                        <a href="/news/<%= img.slug %>">                    
                            <h2 class="media-heading"><%= img.title %> <small><i><%= img.created %></i></small></h2>
                        </a>
                    </div>
                    </div>
                <% } %>

            </div>
            <% }) %>
        </div>
        <div class="media-right">
            <h1><a href="/news" target="_blank">Read All news</a></h1>
        </div>
    </div>
</div>

    