<!DOCTYPE html>
<html>
<%- include('./layout/header.ejs') %>
    <div id="carousel"><%- include('./partials/carousel.ejs') %></div>
    <div id="about"><%- include('./partials/aboutThumbs.ejs') %></div>
    <div id="explore"><%- include('./partials/explore.ejs') %></div>
    <div id="news"><%- include('./partials/news.ejs') %></div>
    <div id="achievement"><%- include('./partials/achievement.ejs') %></div>

<%- include('./layout/footer.ejs') %>
