{{> admin/head_nav}} 

<h2>Pages</h2>
<a href="/admin/pages/add-pages">Add a new page</a>
<br>

<style type="text/css">
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
</style>


<table class="gridtable">
    <thead>
        <tr class="home">
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody
    ondrop="drop(event, this)" ondragover="allowDrop(event)">
        {{# each pages}}
        <tr id="{{this._id}}" class="{{this.slug}}"
        draggable="true" ondragstart="drag(event)" ondrop="return false" ondragover="return false"
        >
            <td>{{this.title}}</td>
            <td><a href="/admin/pages/edit-page/{{this.slug}}">Edit</a></td>
            {{#ifCond this.slug "home"}}
            <td></td>
            {{else}}
            <td><a href="/admin/pages/delete-page/{{this._id}}">Delete</a></td>
            {{/ifCond}}
        </tr>
        {{/each}}
    </tbody>
</table>

<script>
    
   function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev, el) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        el.appendChild(document.getElementById(data));
        var trs = document.querySelectorAll('tbody tr')
        var trId = []
        for (let tr of trs) {
            trId.push(tr.id)
        }
        var http = new XMLHttpRequest();
        http.open("POST", "/admin/reorder-pages", true);
        http.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        http.send(JSON.stringify({ trId }));
    }
    function noAllowDrop(ev) {
        ev.stopPropagation();
    }
        var allTr = document.querySelectorAll('tr')
        

</script>
{{> admin/footer}}